#viewport {
    padding-left: 250px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#content {
    width: 100%;
    position: relative;
    margin-right: 0;
}

/* CSS */
.select-wrapper {
    position: relative;
    display: inline-block;
}

.select-wrapper select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none; /* Remove border */
    background-color: #f8f8f8;
    padding: 8px 10px;
    cursor: pointer;
    outline: none;
}

/* Custom arrow */
.select-wrapper:after {
    content: '\25BC';
    font-size: 12px;
    color: #555;
    position: relative;
    right: 12px;
    pointer-events: none;
}

/* Hover effect */
.select-wrapper:hover select {
    border-color: #999;
}

/* Focus effect */
.select-wrapper select:focus {
    border-color: #8c8383;
}

.custom-select option {
    color: #555;
}